<h1>
  Edit a Channel
</h1>
<hr>
<form method="POST">
  <fieldset>
    <label for="Name" class="col-2">
      Name:
    </label>
    <input name="Name" id="Name" required value="{{data.Name}}"/>
  </fieldset>
  <fieldset>
    <label for="Url" class="col-2">
      Url:
    </label>
    <input name="Url" id="Url" required value="{{data.Url}}"/>
  </fieldset>
  <fieldset>
    <label for="Keywords" class="col-2">
      Keywords:
    </label>
    <textarea name="Keywords" id="Keywords">{{data.Keywords}}</textarea>
  </fieldset>
  <fieldset>
    <label for="SeriesName" class="col-2">
      SeriesName:
    </label>
    <input name="SeriesName" id="SeriesName" value="{{data.SeriesName}}" />
  </fieldset>
  <hr>
  <button class="btn btn-primary">
    Save
  </button>
</form>