<h1>
  Create a New Aesthetic
</h1>
<hr>
<form method="POST">
  <fieldset>
    <label for="Name" class="col-2">
      Name:
    </label>
    <input name="Name" id="Name" required />
  </fieldset>
  <fieldset>
    <label for="Description" class="col-2">
      Description:
    </label>
    <textarea name="Description" id="Description"></textarea>
  </fieldset>
  <fieldset>
    <label for="Tags" class="col-2">
      Tags:
    </label>
    <input name="Tags" id="Tags" required />
  </fieldset>
  <fieldset>
    <label for="Keywords" class="col-2">
      Keywords:
    </label>
    <input name="Keywords" id="Keywords" required />
  </fieldset>
  <hr>
  <button class="btn btn-primary">
    Save
  </button>
</form>