<h1>
  Edit an Aesthetic
</h1>
<hr>
<form method="POST">
  <fieldset>
    <label for="Name" class="col-2">
      Name:
    </label>
    <input name="Name" id="Name" required value="{{data.Name}}"/>
  </fieldset>
  <fieldset>
    <label for="Description" class="col-2">
      Description:
    </label>
    <textarea name="Description" id="Description">{{data.Description}}</textarea>
  </fieldset>
  <fieldset>
    <label for="Tags" class="col-2">
      Tags:
    </label>
    <input name="Tags" id="Tags" required value="{{data.Tags}}"/>
  </fieldset>
  <fieldset>
    <label for="Keywords" class="col-2">
      Keywords:
    </label>
    <input name="Keywords" id="Keywords" required value="{{data.Keywords}}"/>
  </fieldset>
  <hr>
  <button class="btn btn-primary">
    Save
  </button>
</form>